<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>前海智媒简介</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/companyProfile.css">
</head>
<body>
  <div class="headImage">
     <img src="../images/project/default.png" alt="">
  </div>
  <div class="companyProfileContainer">
     <div class="companyProfile">
         <div class="title">
             <b></b>
             <span>公司简介</span>
         </div>
         <div>
           <p>
               深圳市前海智媒网络科技有限公司是第一个入驻深交所大楼的互联网公司，专注于中小企业四板服务与资本在线教育业务，同时也是国有参股、市场化运营的新型资本市场创新平台，由前海股权交易中心与前海凌海发展有限公司联合投资设立。依托股东前海股交中心的强大资源优势，用资本力量服务实体经济，促进中小企业发展。公司充分发挥“互联网+资本市场+资本教育”的基因优势，为企业提供资本教育、四板服务、投融资与上市服务。目前已成长为中国四板第一服务商，中国资本在线教育第一品牌。
           </p>
           <p>
               前海智媒是国内第一家推广“新四板”品牌的机构，也是第一个向全国推广四板业务的机构。总部设在深交所运营中心39楼，互联网总部设在深圳创业投资大厦17楼，全国下设14个运营中心，海外两个运营中心，服务已覆盖数十万家中小企业。公司荣誉顾问张亦春教授是中国金融学科终身成就奖得主。
           </p>
         </div>
     </div>
     <div class="zhimeiLocation">
       <div class="title">
           <b></b>
           <span>智媒定位</span>
       </div>
       <div>
           <h3>一、中国四板第一服务商，首创场外资本市场服务体系，推出产品“新四板®”，“新四板直通车®”。</h3>
           <p>“新四板”是前海智媒网络科技有限公司针对中小企业个性化资本需求而开发的区域股权交易中心挂牌对接服务+敲钟媒体服务+资本教育服务品牌。由前海智媒网络科技有限公司于2014年在全国推广，并于2015年2月申请商标保护，是在传统区域股权交易中心“四板”的基础上开发的升级服务。
               “新四板直通车”是前海智媒网络科技有限公司整合国内正统金融机构资源，针对中小企业“智力、资本、人脉”需求开发的资本服务综合套餐。包含区域股权交易中心挂牌对接和敲钟服务、资本的智慧、资本的路演、资本的对接、资本的人脉五大系统服务，帮助中小企业快速进入资本市场。该产品由前海智媒网络科技有限公司于2014年在全国推广，并于2015年2月申请商标保护，是前海智媒“新四板”产品的升级版。</p>
           <h3>
               中国四板第一服务商地位奠基
           </h3>
           <p>1、智媒“融智·融情”服务已覆盖企业家数十万人;
               2、举办新四板创业创新千企峰会，成功发布中国第一支新四板基金、敲响中国新四板第一钟，39家媒体、各地政府、1200名企业家共同见证;
               3、举办中国新四板指数发布与资本路演峰会，成功发布“中国新四板潜力100指数”、成立“中国新四板研究中心”、启动“中国新四板·海外板”;
               4、成功推出中国新四板开创性服务体系——新四板直通车，至今全国已成功举办300场以上;
               5、全国布局14家智媒新四板直通车运营中心，包括广东、北京、西安、成都、德州、福建、新疆、南宁、昆明、河北、合肥、湖南和海外地区新加坡及马来西亚。
           </p>
           <h3>
               二、中国资本在线教育第一平台：智媒资本学院
           </h3>
           <p>
               资本教育：中国首家聚焦于中小企业资本市场在线教育的平台，已成长为中国资本在线教育第一平台，中国中小微企业金融资本知识与技能的科普者。
               智媒资本商学院，通过在线教育、线下培训及专家咨询，为中小企业提供从创业到上市、从天使到私募，从场外交易到海外上市等资本市场关键要素的分析和解读，提供企业家研修班、线上课堂、路演、企业定制化培训等模式的资本研习。
           </p>
           <h3>
               中国资本在线教育第一平台的地位奠基
           </h3>
           <p>1、智媒资本商学院APP全终端上线，推出点播、直播、视频通话全功能;
               2、智媒在线教育平台精品课程突破2000个，五个月时间完成线上全终端布局，为线下运营O2O模式奠定基础;
               3、推出智媒资本学院学习卡，52400分钟顶级资本智慧，满足企业家不同学习需求;
               4、智媒专家团成员突破100名，涵盖各个资本领域(包括交易所、国内一线券商、清科50强创投、顶级会计师事务所、律师事务所等)、互联网领域的实战派专家入驻智媒平台;
               5、智媒已成功举办“注册制上市专题班”、“并购重组专题班”等金融资本领域的权威研修班;
               6、作为在线教育线下入口的为期5天4夜的智媒前海资本实战训练营，至今已成功举办十期，其影响力覆盖数万名企业家。
           </p>
       </div>
     </div>
     <div class="StatementOfUse">
         <div class="title">
            <b></b>
            <span>商标声明 Statement of Use</span>
         </div>
         <div>
             <p>“新四板”、”新四板直通车”、”新四板创业创新千企峰会”和智媒LOGO商标或标识均为深圳前海智媒公司享有的商品及服务商标和商号未经本公司或商标权人书面许可，任何单位及个人不得以任何方式或理由对该商标的任何部分进行使用、复制、修改、传播、抄录或与其 它产品捆绑使用销售。
             </p>
         </div>
         <div class="legalNotice">
             本公司法律事务部受本公司指示，特此郑重法律声明！凡侵犯本公司商标权的，我公司必依法追究其法律责任。
         </div>
     </div>
  </div>
  <script src="../js/rem.js"></script>
  <script src="../js/companyProfile.js"></script>
</body>
</html>