<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交换名片</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/exchangeCard.css">
</head>
<body>
  <div class="exchangeCardContainer">
      <form action="">
          <div class="cardTitle">
              <span><b></b>立即与平台创始人交换名片</span>
          </div>
          <input type="file" style="visibility:hidden" id="photo" name="photo" >
          <div class="imgContent">
              <div class="myPhoto">
                  <img src="" alt="">
              </div>
          </div>
          <div>
              <img src="" alt="">
          </div>
          <div class="imgContent">
              <div class="platformPhoto">
                  <img src="" alt="">
              </div>
          </div>
      </form>
  </div>
  <script src="../js/rem.js"></script>
  <script src="../js/zepto.js"></script>
  <script src="../js/exchangeCard.js"></script>
</body>
</html>