<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>加入我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=no" />
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/joinus.css">
</head>
<body>
<div class="joinUsContainer">
    <div class="positionImg">
        <img src="../images/project/project.png" alt=""/>
    </div>
    <div>
        <div class="positionTitle">
            直销经理/直销总监(南山区)
        </div>
        <div class="positionStatement">
            <h3>岗位职责</h3>
            <p>1、负责辖区内销售团队的建立和打造；</p>
            <p>2、制定季度月度销售计划，并跟进执行；</p>
            <p>3、依据营销计划，执行销售和市场推广方案。</p>

        </div>
        <div class="positionRequire">
            <h3>岗位要求:</h3>
            <p>1、大专及以上学历，专业不限;</p>
            <p>2、有5年以上电话营销经验，2年以上团队管理能力。</p>
        </div>
    </div>
</div>
<div class="joinUsContainer">
    <div class="positionImg">
        <img src="../images/project/project.png" alt=""/>
    </div>
    <div>
        <div class="positionTitle">
            直销经理/直销总监(南山区)
        </div>
        <div class="positionStatement">
            <h3>岗位职责</h3>
            <p>1、负责辖区内销售团队的建立和打造；</p>
            <p>2、制定季度月度销售计划，并跟进执行；</p>
            <p>3、依据营销计划，执行销售和市场推广方案。</p>

        </div>
        <div class="positionRequire">
            <h3>岗位要求:</h3>
            <p>1、大专及以上学历，专业不限;</p>
            <p>2、有5年以上电话营销经验，2年以上团队管理能力。</p>
        </div>
    </div>
</div>
<script src="../js/rem.js"></script>
<script src="../js/joinus.js"></script>
</body>
</html>