<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=no" />
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/serviceConsult.css">
</head>
<body>
    <div class="consultCardContainer">
        <div class="leftContent">
            <div class="cardImg">
                <img src="../images/online-consult.png" alt=""/>
            </div>
        </div>
        <div class="rightContent">
            <h3>在线咨询</h3>
            <p>与客服人员线上沟通</p>
        </div>
    </div>
    <div class="consultCardContainer">
        <div class="leftContent">
            <div class="cardImg">
                <img src="../images/callback-consult.png" alt=""/>
            </div>
        </div>
        <div class="rightContent">
            <h3>回电咨询</h3>
            <p>留下您的联系方式，等待工作人员与您联络</p>
        </div>
    </div>
    <div class="consultCardContainer">
        <div class="leftContent">
            <div class="cardImg">
                <img src="../images/wechat-consult.png" alt=""/>
            </div>
        </div>
        <div class="rightContent">
            <h3>微信咨询</h3>
            <p>扫描二维码添加客服微信</p>
        </div>
    </div>
    <script src="../js/rem.js"></script>
    <script src="../js/serviceConsult.js"></script>
</body>
</html>