
$theme: #539ffd;

$gray9:#999;

$gray6:#666;

$gray3:#333;

$grayE:#eee;

$red:#f9344c;

$white:#fff;

$titleColor:#1b5bb5;

$titleBackground:#f5f5f5;

$textBackgroundGray:#f2f2f2;

$textBackgroundGray3:#333;

$textBackgroundGray6:#666;

$textBackgroundGray9:#999;

$borderColor:#f2f2f2;

$isAttentionColor:#e4393c;
